body {
    font-family: monospace;
    background-image: url(img/mountains.jpg);
    background-size: cover;
}

#odiv {
    align-items: center;
    color: gold;
    background-image: url(img/space.jpg);
    background-size: cover;
    text-align: center;
    border: 2px solid blue;
    /* background-color: green; */
}

button {
    background-color: white;
    color: green;
    font-weight: bolder;
    margin: 10px;
    border: 4px solid #4CAF50;
    border-radius: 10px;
}

input {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    color: orange;
    font-weight: 1000;
    font-size: 50;
}